# Configuración de Resend para envío de emails
VITE_RESEND_API_KEY=tu_api_key_de_resend_aqui
VITE_EMAIL_FROM=noreply@neosbelleza.com

# Supabase
VITE_SUPABASE_URL=https://yldsbetsmxnjbvlpbvbc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_ZGRS7LGODQnydu7pqN2ysQ_xTBHsQEc
